<!DOCTYPE html>
<html><head>
<meta charset="utf-8">
<meta content="width=640px" name="viewport">
<link href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link href="https://stuff.webmaker.org/teach-assets/css/activity-template/style-desktop.css" media="all" rel="stylesheet" type="text/css">
<link href="https://stuff.webmaker.org/teach-assets/css/activity-template/style-mobile.css" media="screen and (max-device-width: 640px)" rel="stylesheet" type="text/css">
<link href="https://stuff.webmaker.org/teach-assets/css/activity-template/style-print.css" media="print" rel="stylesheet" type="text/css">
<meta content="teach" name="webmaker:tags">
<meta content="https://stuff.webmaker.org/teach-assets/kits/images/icebreaker.png" name="webmaker:thumbnail">

<title>Activity Template</title>
<script src="../javascripts/nunjucks.js"></script>
<script>

nunjucks.env = new nunjucks.Environment(new nunjucks.HttpLoader('/views', true));

document.body.innerHTML = nunjucks.env.render('index-v2.html', { Activity: 'Blah blah' });

</script>
</head>
<body>

</body></html>
