<div class="wrapper">

  <header id="header">
    <div class="note-paper-side"></div>
    <div class="note-paper"></div>
    <div id="teachingkit-banner">
      {{activity}}
    </div>
    <div id="header-img">
      <img alt="Header Image" height="180" src="https://stuff.webmaker.org/teach-assets/kits/images/icebreaker.png" width="180">
    </div>
    <div id="header-content">
      <hgroup id="header-group">
        <h1>{{activity}}</h1>
        <h2>{{description}} </h2>
      </hgroup>
      <div id="metadata">
        <span id="made-by">{{madeBy}}</a></span>
      </div>
    </div>
  </header>

  <div id="content">
    <div id="left-side">

      <section class="step-section">
        <h1 class="big-green-title">{{byGreenTitle}}</h1>
        <ol>
          <li>
          <p>
         {{paragraphOne}}
          </p>
          <div class="example-div">
            <ul>
              <li><strong>{{Participatory}}</strong>{{ParticipatoryDescription}} </li>
              <li><strong>{{Purposeful}}</strong> {{PurposefulDescription}}
              </li>
              <li><strong>{{Productive}}</strong> {{PructiveDescription}}</li>
            </ul>
          </div>
          </li>

          <li>
          <p>{{paragraphTwo}}</p>
          </li>

          <li>
          <p>{{paragraphThree}}</p>
          </li>
        </ol>
      </section>

    </div>

    <div id="right-side">
      <section class="small-checkbox-section">
        <h1><i class="icon-check-sign"></i> {{Materials}}</h1>
        <div>
          <ul>
            <li><input id="r4" type="checkbox"><label for="r4"></label> {{Pens}}</li>
            <li><input id="r5" type="checkbox"><label for="r5"></label> {{PostIts}}</li>
            <li><input id="r4" type="checkbox"><label for="r4"></label> {{Computer}}</li>
            <li><input id="r5" type="checkbox"><label for="r5"></label> {{WebAccess}}</li>
          </ul>
        </div>
      </section>
      <section class="attention-section">
        <h1><i class="icon-comments"></i> {{Discussion}}</h1>
        <div>{{DiscussionDescription}}
        </div>
      </section>
      <section class="teach-list">
        <h1>{{RelatedActivities}}</h1>
        <div>
          <ul>

            <li><a href="http://foo.org/">{{IncludeLinks}}</a></li>
            <li><a href="http://foo.org/">{{resource}}</a></li>
            <li><a href="http://foo.org/">{{section}}</a></li>
          </ul>
        </div>
      </section>
    </div>

  </div>
</div>
